@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}

html {
  font-size: 10px;
}

body {
  color: #333;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.4;
  font-family: 'Montserrat', 'Noto Sans KR', 'Malgun Gothic', "ë§‘ì€ ê³ ë”•", 'AppleGothic', 'Dotum', "ë‹ì›€", sans-serif;
  overflow-x: hidden
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

b,
strong {
  font-weight: 700;
}

/* 공통 Class */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.wrap {
  position: relative;
  display: block;
}

.container {
  position: relative;
  display: block;
  width: 160rem;
  margin: 0 auto;
}

/* modal */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999999;
}

.modal-cont {
  position: absolute;
  left: 50%;
  top:  50%;
  transform: translate(-50%, -50%);

  display: block;
  width: 550px;
  height: 300px;
  background: #ffa2a2; 
  border-radius: 5px;
  border: 10px solid #fff;
  padding:  50px;
  box-shadow: 0px 0px 25px -15px #331616 inset;
}

.modal-cont p {
  position: relative;
  display: block;
  font-size: 24px;
  text-align: center;
  font-weight: 500;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 25px;
}

.modal-cont span {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
  text-align: center;
  color: #fff;
}

.modal-cont button {
  position: relative;
  display: block;
  margin-left: 40%;

  background: #fff;
  color: #111;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;

  margin-top: 30px;
  border: 0;
  line-height: 35px;
  text-align: center;
  padding: 0 30px;
  border-radius: 4px;

  transition: background 0.3s, color 0.3s;
}

.modal-cont button:hover {
  background: #111;
  color: #fff;
}

/* Header-top-fixed Part */
.go-top {
  position: fixed;
  right: 3%;
  bottom: 5%;
  z-index: 999999;

  width: 6rem;
  height: 6rem;
  padding: 0.8rem 0.2rem;
  border: 2px solid #000;
  background: #fff;

  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  color: #000;
  cursor: pointer;

  transition: color 0.3s, background 0.3s;
}

.go-top:hover {
  color: #fff;
  background: #000;
}

/* header part */
.header {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 999;
}

.top-fixed {
  position: fixed;
  left: 0;
  top: 0;
  height: 9rem;
  width: 100%;
  border-bottom: 1px solid #eee;
  background: #fff;
}

.menu {
  position: relative;
  display: block;
}

.menu > .container {
  position: relative;
  ;
  width: 192rem;
  margin: 0 auto;
}

.logo {
  position: absolute;
  top: 50%;
  left: 4.8rem;
  display: block;
  width: 14rem;
  height: 9rem;
  float: left;
  overflow: hidden;
  transform: translateY(-50%);

  background: url('../images/logo.png') no-repeat center;
  background-size: contain;
}

.gnb {
  position: relative;
  display: block;
  width: 156rem;
  height: 100%;
  padding: 2.5rem 0;
  margin-left: 36rem;
}

.gnb>li {
  position: relative;
  display: block;
  float: left;
}

.gnb > li > a {
  position: relative;
  display: block;
  padding: 0.8rem 0;
  font-size: 1.6rem;
  letter-spacing: -.05rem;
  margin-right: 5rem;
}

.gnb li .active a:after {
  position: absolute;
  /* display: none; */
  top: 7rem;
  left: 4.5rem;
  width: 4px;
  height: 4px;
  background: #f94b4b;
  border-radius: 50%;
}

/* slide part */
.slide {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.swiper-slide > .container,
.swiper-container {
  position: relative;
  display: block;
  width: 192rem;
  height: 66rem;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  display: inline-block;
  position: absolute;
  left: 95%;
  bottom: 40%;
  width: 30px;
  height: auto;
}

.swiper-pagination .swiper-pagination-clickable .swiper-pagination-bullets {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: transparent;
  border: 1px solid #fff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  display: inline-block;
  height: 30px;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: height .5s;
}

.slide-txt-box {
  position: relative;
  display: block;
  height: 33.7rem;
  transform: translate(0, 50%);
  padding-left: 36rem;
}

.slide-txt-box .slide-tit {
  font-size: 2.3rem;
  font-weight: 500;
  letter-spacing: -.04rem;
  line-height: 6rem;
}

.slide-txt-box .slide-txt {
  font-size: 4.8rem;
  line-height: 7.5rem;
  letter-spacing: -.17rem;
}

.slide-txt-box .slide-afterbox {
  position: relative;
  display: block;
  height: 0.2rem;
  width: 6rem;
  background: #888;
  margin: 1.5rem 0;
}

.swiper-slide-active .slide-txt-box .slide-tit {
  animation: text 1s .2s both;
}

.swiper-slide-active .slide-txt-box .slide-txt {
  animation: text 1s .4s both;
}

.swiper-slide-active .slide-txt-box .slide-afterbox,
.swiper-slide-active .slide-txt-box .slide-udid {
  animation: text 1s .3s both;
}

.slide-txt-box .slide-udid {
  font-size: 5.3rem;
  letter-spacing: -.17rem;
  font-weight: 400;
}

@keyframes text {
  0% {
    opacity: 0;
    margin-left: -100px;
  }

  100% {
    opacity: 100%;
    margin-left: 0;
  }
}

.slide-1 {
  background: url('../images/visual1_w.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 66rem;
}

.slide-2 {
  background: url('../images/visual2_w.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 66rem;
}

.slide-3 {
  background: url('../images/visual3_w.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 66rem;
}

.slide-4 {
  background: url('../images/visual4_w.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 66rem;
}

/* banner part */
.banner {
  position: relative;
  display: block;
  width: 100%;
  padding: 23px 0;
  background: #567ad9;
}

.banner-txt {
  font-size: 1.7rem;
  font-weight: 400;
  color: #fff;
  margin-left: 55%;
  transform: translateX(-50%);
}

.banner-txt>strong {}

.banner-txt>strong::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 16px;
  margin: 0 3.2rem 0 4.7rem;
  background: rgba(255, 255, 255, .25);
  vertical-align: middle;
  letter-spacing: 5rem;
}

/* service portfolio part */
.service-p {
  position: relative;
  display: block;
  padding-bottom: 11rem;
}

.service-p-left {
  position: relative;
  display: block;
  padding: 12rem 0 8.5rem 0;
}

.service-p-left span {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #1679ff;
}

.service-p-left h2 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 4rem;
}

.service-p-left p {
  margin-top: 2.5rem;
  font-size: 1.9rem;
  font-weight: 400;
  color: #666;
  line-height: 2.8rem;
  letter-spacing: -.07rem;
  animation: text 1s .2s both;
}

.sw-button {
  position: absolute;
  right: 0;
  bottom: 9rem;
}

.sw-button-prev {
  display: inline-block;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  background: rgba(0, 0, 0, 0.1);

  transition: background 0.1s;
}

.sw-button-prev:hover {
  background: rgba(0, 0, 0, 0.4);
}

.sw-button-next {
  display: inline-block;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  background: rgba(0, 0, 0, 0.1);
  margin-left: 2rem;

  transition: background 0.1s;
}

.sw-button-next:hover {
  background: rgba(0, 0, 0, 0.4);
}

.ico {
  font-size: 2rem;
  color: #fff;
}

.service-p-right {
  position: relative;
  display: block;
  width: 100%;
  height: 47rem;

  animation: text-p-right 1s .2s both;
}

@keyframes text-p-right {
  0% {
    opacity: 0;
    margin-left: 100px;
  }

  100% {
    opacity: 100%;
    margin-left: 0;
  }
}

.sw-service-p {
  display: block;
  width: 270rem;
  max-width: 4500rem;
  margin-left: -2rem;
}

.sw-slide-service-p {
  position: relative;
  display: block;
  width: 30rem;
  height: 39rem;

  min-width: 190px;
  min-height: 220px;
  margin: 4rem 2rem;
  padding: 6rem 1rem 0 4rem;
  background: #fff;
  box-shadow: 0 0.5rem 2rem rgb(0 0 0 / 10%);
  border: 0.1rem solid #fff;
  transition: border 0.2s;
}

.sw-slide-service-p:hover {
  border: 0.1rem solid #333;
}

.sv-img-box {
  display: block;
  width: 18rem;
  height: 3.5rem;
  overflow: hidden;
  margin-bottom: 2.6rem;
}

.sv-img-box .sv-img-1 {
  position: relative;
  display: block;
  height: 13.5rem;
  margin-left: 0;
}

.sv-img-box .sv-img-2 {
  position: relative;
  display: block;
  height: 13.5rem;
  margin-left: -20rem;
}

.sv-img-box .sv-img-3 {
  position: relative;
  display: block;
  height: 13.5rem;
  margin-left: -39.5rem;
}

.sv-img-box .sv-img-4 {
  position: relative;
  display: block;
  height: 13.5rem;
  margin-left: -19.5rem;
  margin-top: -3.3rem;
}

.sv-img-box .sv-img-5 {
  position: relative;
  display: block;
  height: 13.5rem;
  margin-left: -39.5rem;
  margin-top: -3.3rem;
}

.sv-img-box .sv-img-6 {
  position: relative;
  display: block;
  height: 13.5rem;
  margin-left: -39.5rem;
  margin-top: -7.3rem;
}

.sv-img-box .sv-img-7 {
  position: relative;
  display: block;
  height: 13.5rem;
  margin-left: -60.5rem;
  margin-top: -7.3rem;
}

.sv-img-box .sv-img-8 {
  position: relative;
  display: block;
  height: 13.5rem;
  margin-left: 0;
  margin-top: -10.5rem;
}

.sv-img-box .sv-img-9 {
  position: relative;
  display: block;
  height: 13.5rem;
  margin-left: -19.5rem;
  margin-top: -10.5rem;
}

.sb-number {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 6rem;
  font-weight: 600;
  color: rgba(102, 102, 102, .1);
}

.sv-txt {
  font-size: 1.4rem;
  line-height: 2.6rem;
  letter-spacing: -0.07rem;
  color: #666;
}

.sv-txt-purple {
  display: inline-block;
  color: #644ad1;
  margin-top: 0.5rem;
  letter-spacing: -0.08rem;
}

.sv-txt-family {
  display: block;
  width: 8rem;
  margin-top: 1rem;
  font-size: 1.1rem;
  border: 1px solid #7cbcaa;
  color: #59b098;
  text-align: center;
  padding: 0.5rem 0;
}

.sv-arrow {
  position: absolute;
  bottom: 5rem;
  padding: 10px;
  margin-left: -10px;
  cursor: pointer;
}

.line {
  display: block;
  width: 3.1rem;
  height: .2rem;
  background: #ddd;
  transition: width 0.3s ease;
}

.sw-slide-service-p:hover .line {
  width: 10rem;
  background: #333;
}

.sw-slide-service-p:hover .sv-arrow::after {
  border-color: #333;
}

.line-go {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  text-indent: -9999px;
  clip: rect(0 0 0 0);
}

.sv-arrow::after {
  content: '';
  position: absolute;
  right: 9px;
  top: 6px;
  padding: 4px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #ddd;
  transform: rotate(-45deg);
}

/* Main Index */
.main-index {
  position: relative;
  display: block;
  padding-bottom: 11rem;
  background: #f7f7f7;
}

.mindex-header {
  padding: 10rem 0 8.5rem;
  letter-spacing: -0.05rem;
  text-align: center;
}

.mindex-header>h2 {
  font-size: 4rem;
  line-height: 4rem;
}

.mindex-header>span {
  display: block;
  font-family: 'Montserrat', 'Noto Sans KR', Malgun Gothic, "ë§‘ì€ ê³ ë”•", AppleGothic, Dotum, "ë‹ì›€", sans-serif;
  margin: 1rem 0;
}

.mindex-box {
  padding: 0 2.5rem;
}

.mindex-box-left {
  width: 50%;
  float: left;
}

.mindex-box-right {
  width: 50%;
  float: left;
}

.mindex-txtbox {
  position: relative;
  width: 33.33%;
  text-align: center;
  float: left;
}

.mindex-txtbox-top {
  display: block;
  font-size: 1.7rem;
  font-weight: 400;
  color: #666;
}

.mindex-txtbox-bottom {
  display: block;
  font-size: 1.5rem;
  color: #696b70;
  margin-top: 3rem;
}

.mindex-txtbox-bottom>b {
  font-size: 3.7rem;
  font-weight: 700;
  color: #000;
}

.mindex-graph {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 6rem;
  padding: 8.5rem 0;
  background: #fff;
}

.mindex-graph-left {
  position: relative;
  padding: 0 4rem;
  width: 50%;
  float: left;
}

.mindex-graph-txt {
  position: absolute;
  left: 7rem;
  top: 3rem;
  font-size: 1.7rem;
  font-weight: 500;
  border-bottom: 1px solid #000;

}

.mindex-graph-left>img {
  display: inline-block;
  max-width: 100%;
  transform: translateX(25%)
}

.mindex-graph-right {
  position: relative;
  padding: 0 4rem;
  width: 50%;
  float: left;
}

.mindex-graph-right>img {
  display: inline-block;
  max-width: 100%;
  transform: translateX(25%)
}

.history {
  position: relative;
  display: block;
  padding-bottom: 11rem;
}

.history-txt {
  padding-top: 12rem;
  padding: 10rem 0 8.5rem;
}

.history-bottom b {
  font-weight: 700;
}

.history-txt>h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
}

.history-bottom {
  position: relative;
  display: block;
  width: 2500rem;
  height: 52.6rem;
  overflow: hidden;
}

.sw-history {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 1.8rem;
  overflow: hidden;
}

.sw-history::before {
  content: "";
  position: absolute;
  top: 1.9rem;
  right: 0;
  left: 0;
  width: 2070rem;
  height: 0.2rem;
  background: #ddd;
}

.sw-history-list,
.sw-history-list-1 {
  position: relative;
  display: block;
  width: 46.5rem;
  margin-top: 2rem;
  padding: 7rem 4rem 0;
  letter-spacing: -0.05rem;
}

.sw-history-list-1::after {
  content: '';
  position: absolute;
  top: -1.8rem;
  left: -1.8rem;
  width: 3.6rem;
  height: 3.6rem;
  border: 0;
  background: transparent url('../images/sec3_icon.gif');
  z-index: 9999999999999999999;
}

.sw-history-list::after {
  content: '';
  position: absolute;
  top: -1.1rem;
  left: -1.35rem;
  width: 2.2rem;
  height: 2.2rem;
  border: 4px solid #f94b4b;
  background: #fff;
  border-radius: 50%;
}

.year-red {
  display: block;
  margin-bottom: 4.5rem;
  font-size: 3.2rem;
  color: #f94b4b;
}

.year {
  display: block;
  margin-bottom: 4.5rem;
  font-size: 3.2rem;
  color: #000;
}

.sw-history-list p,
.sw-history-list-1 p {
  color: #444;
  margin-top: 1.3rem;
  line-height: 2.7rem;
}

.sw-history-list .year-p-first,
.sw-history-list-1 .year-p-first {
  margin-top: 0;
}

.sw-history-list .year-p-first::before,
.sw-history-list-1 .year-p-first::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0.2rem;
  height: 17.5rem;
  background: #ddd;
}

.sw-history-list p::before,
.sw-history-list-1 p::before {
  content: '';
  position: absolute;
  top: 16.8rem;
  left: -0.3rem;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: #f94b4b;
}

/* Management Part */
.managment {
  position: relative;
  display: block;
  padding-bottom: 11rem;
  background: #f4f7fc;
  letter-spacing: -0.05rem;
}

.ma-txtbox {
  padding: 10rem 0 8.5rem;
  text-align: center;
}

.ma-txtbox h2 {
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 2.5rem;
}

.ma-txtbox>span {
  font-size: 1.9rem;
  font-weight: 400;
  color: #666;
  line-height: 2.8rem;
  letter-spacing: -0.07rem;
}

.ma-bottom {
  position: relative;
  display: block;
}

.ma-bottom-item {
  position: relative;
  width: 25%;
  float: left;
}

.mb-item-1 {
  position: relative;
  display: block;
  width: 11rem;
  height: 11rem;
  margin: 0 auto 3rem;
  background: #464749;
  border-radius: 50%;
}

.mb-item-2 {
  position: relative;
  display: block;
  width: 11rem;
  height: 11rem;
  margin: 0 auto 3rem;
  background: #f94b4b;
  border-radius: 50%;
}

.mb-item-3 {
  position: relative;
  display: block;
  width: 11rem;
  height: 11rem;
  margin: 0 auto 3rem;
  background: #fff;
  border-radius: 50%;
}

.mb-item-4 {
  position: relative;
  display: block;
  width: 11rem;
  height: 11rem;
  margin: 0 auto 3rem;
  background: #1b74ef;
  border-radius: 50%;
}

.mb-item-imgbox-1,
.mb-item-imgbox-2,
.mb-item-imgbox-3,
.mb-item-imgbox-4 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 5rem;
  height: 4.8rem;
  transform: translate(63%, 63%);
}

.mb-item-imgbox-1>img {
  position: relative;
  display: inline-block;
  margin-top: -10.1rem;
  margin-left: 0rem;
}

.mb-item-imgbox-2>img {
  position: relative;
  display: inline-block;
  margin-top: -9.8rem;
  margin-left: -10.1rem;
}

.mb-item-imgbox-3>img {
  position: relative;
  display: inline-block;
  margin-top: -9.9rem;
  margin-left: -20rem;
}

.mb-item-imgbox-4>img {
  position: relative;
  display: inline-block;
  margin-top: -9.8rem;
  margin-left: -30rem;
}

.mb-item-tit {
  position: relative;
  display: block;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 2.2rem;
  text-align: center;
}

.mb-item-tit b {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 700;
  color: #f94b4b;
}

.mb-item-tit span {
  margin-left: 0.9rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.mb-item-txt {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 3rem;
  line-height: 2.5rem;
  color: #666;
}

/* People Part */
.people {
  position: relative;
  display: block;
  padding-bottom: 10rem;
  background: url('../images/sec4_fixed_banner.jpg') no-repeat fixed center;
  background-size: cover;
  color: #fff;
}

.people-txtbox {
  padding: 10rem 0 8.5rem;
  letter-spacing: 0.05rem;
  text-align: center;
}

.people-txtbox h2 {
  font-size: 4rem;
  line-height: 4rem;
}

.people-txtbox span {
  display: block;
  margin-top: 2.5rem;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: -0.07rem;
  color: #e1e1e1;
}

.people-list {
  position: relative;
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);

}

.people-list li {
  display: inline-block;
  float: left;
  font-size: 3rem;
  font-weight: 500;
  margin-right: 6.6rem;
}

.people-list li:last-child {
  margin-right: 0;
}

.people-list li::after {
  content: "/";
  position: relative;
  left: 3.5rem;
  font-size: 2rem;
  color: #777;
}

.people-list li:last-child::after {
  display: none;
}

/* Mainreport Part */
.main-report {
  position: relative;
  display: block;
  padding-bottom: 10rem;
}

.main-report-header {
  padding: 10rem 0 8.5rem;
  letter-spacing: -.05rem;
  text-align: center;
}

.main-report-header h2 {
  font-size: 4rem;
  line-height: 4rem;
}

.main-report-bottom {
  text-align: center;
  letter-spacing: -.04rem;
}

.main-report-txtbox {
  position: relative;
  display: block;
  float: left;
  width: 25%;
}

.mr-txt1 {
  position: relative;
  display: block;
  font-size: 3.2rem;
  font-weight: 100;
  line-height: 3rem;
}

.mr-txt2 {
  display: block;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 2rem;
  letter-spacing: -0.1rem;
}

.mr-txt2::before {
  content: '';
  display: block;
  width: 2.6rem;
  height: 1px;
  margin: 5rem auto 3.5rem;
  background: #000;
}

.mr-txt3 {
  display: block;
  font-size: 2.2rem;
  font-weight: 600;
  color: #3081f0;
}

/* News Part */
.news {
  position: relative;
  display: block;
  background: #f8f8f8;
}

.news-txtbox {
  padding: 10rem 0 8.5rem;
  letter-spacing: 0.05rem;
  text-align: center;
}

.news-txtbox h2 {
  font-size: 4rem;
  line-height: 4rem;
}

.news-bottom {
  position: relative;
  display: block;
}

.news-itembox {
  position: relative;
  display: block;
  float: left;
  width: 33.33%;
  overflow: hidden;
}

.news-itembox-hidden1 {
  display: none;
}

.news-itembox-hidden2 {
  display: none;
}

.news-item {
  position: relative;
  display: block;
  margin: 1rem;
  padding: 5rem 4rem;
  border: 1px solid #fff;
  background: #fff;
  letter-spacing: -0.04rem;

  transition: border 0.2s;
  transform: scale(1.0), opacity: 1.0;

}

.news-item:hover {
  border: 1px solid #000;
}

.news-item h3 {
  height: 6rem;
  font-size: 1.8rem;
  line-height: 3rem;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
}

.news-item span {
  font-size: 1.3rem;
  font-weight: 400;
  color: #aaa;
}

.news-item span::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  margin: 2rem 0;
  background: #000;
}

.news-itembox:hover .news-item::after {
  content: '';
  position: absolute;
  width: 4rem;
  height: 4rem;
  right: 0.9rem;
  bottom: 0.9rem;
  background: #000 url('../images/sec5_ico_plus.png') no-repeat center;
  transform-origin: center;

  transform: scale(0.0);
  opacity: 0;

  transition: transform 0.2s, opacity 0.2s;
}

.news-itembox:hover .news-item:hover::after {
  transform: scale(1.5);
  opacity: 1.0;
}

.news-bt-txt {
  display: block;
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
  margin-top: 7rem;
  padding-bottom: 13rem;
  cursor: pointer;
}

.news-more {
  position: relative;
  display: block;
  margin: 0 2.5rem;
  color: #666;

  transition: color 0.3s;
}

.news-more:focus+.news-itembox-hidden1 {
  display: block;
}

.news-more:hover {
  color: #000;
}

/* Contact Part */
.contact {
  position: relative;
  display: block;
  padding-bottom: 11rem;
  background: #fff;
}

.contact-tit {
  padding: 10rem 0 8.5rem;
  letter-spacing: 0.05rem;
  text-align: center;
}

.contact-tit h2 {
  font-size: 4rem;
  line-height: 4rem;
}

.contact-txtbox-top {
  position: relative;
  display: block;
  height: 15rem;
  margin-bottom: 3rem;
}

.contact-txtbox {
  position: relative;
  display: block;
  margin-bottom: 3rem;
}

.contact-txtbox-list {
  display: table;
  margin-bottom: 1rem;
  width: 50%;
  float: left;
}

.ct-list-tit {
  display: table-cell;
  width: 25%;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 4rem;
  vertical-align: top;
  letter-spacing: 1.2rem;
}

.ct-list-tit-b {
  display: table-cell;
  width: 25%;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 4rem;
  vertical-align: top;
  letter-spacing: 6.5rem;
}

.ct-list-tit::before,
.ct-list-tit-b::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: -4px 1.5rem 0 .7rem;
  border: 1px solid #000;
  vertical-align: middle;
}

.ct-ls {
  letter-spacing: 1rem !important;
}

.ct-list-txt {
  display: table-cell;
  font-size: 1.7rem;
  line-height: 4rem;
  vertical-align: top;
  letter-spacing: -0.08rem;
}

.ct-list-txt .address {}

.ct-list-txt .small {
  color: #999;
  white-space: nowrap;
  font-size: 1.3rem;
}

.contact-imgbox {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.contact-imgbox .contact-img {
  position: relative;
  display: block;
  height: 62rem;
  width: 100%;
  background: url('../images/sec7_map.gif') no-repeat center;
  background-size: cover;
}

.contact-imgbox .contact-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 62rem;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #aaa;

  transition: background-color 0.3s;

}

.contact-imgbox:hover .contact-img::after {
  background-color: rgba(0, 0, 0, .05);
}

/* Footer Part */
.footer {
  padding: 5rem 0;
  background: #373943;
  height: 33rem;
}

.footer-txt {
  color: #fff;
}

.footer-h2 {
  position: relative;
  display: block;
  font-size: 1.8rem;
  font-weight: 400;
}

.footer-txt>span {
  position: relative;
  display: block;
  font-size: 1.5rem;
  color: #ced2d8;
  margin-top: 3.5rem;
}

.footer-txtbox {
  position: relative;
  display: block;
  margin-top: 1.5rem;
}

.footer-txtbox>ul {
  position: relative;
  display: block;
}

.footer-txtbox>ul>li {
  position: relative;
  display: block;
  float: left;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
}

.footer-txtbox>ul>li>a {
  color: #fff;
}

.last {
  font-size: 1.4rem;
  color: #60626a;
  margin-top: 2.5rem;
}